@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakesCondensed-Light"),
    url("styles/fonts/TTLakesCondensed-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakes-Bold"),
    url("styles/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakes-Medium"),
    url("styles/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 600;
}

body, html {
  width: 320px;
  font-family: "TTLakes", Arial, sans-serif;
  color: #1B1C21;
  font-weight: normal;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.head__btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: none;
  background-color: #f8f8f8;
}

.head__menu {
  background-image: url('./styles/pictures/menu-ic.svg');
}

.head__call {
  background-image: url('./styles/pictures/call-ic.svg');
}

.head__chat {
  background-image: url('./styles/pictures/chat-ic.svg');
}

.head__profile {
  background-image: url('./styles/pictures/profile-ic.svg');
}

.head__settings {
  background-image: url('./styles/pictures/settings.svg');
}

.head__search {
  background-image: url('./styles/pictures/search.svg');
}

.head {
  display: flex;
  height: 88px;
  border-bottom: 1px #D9FFF5 solid;
}

.head__left-side,
.head__right-side {
  align-items: center;
  display: flex;
  gap: 18px;
  margin: 0 auto;
}

.head--hidden {
  display: none;
}

 .head__border-line {
  align-self: center;
  height: 32px;
  width: 2px;
}

.title__service {
  display: flex;
  gap: 15px;
  align-items: center;
}

.title__text-service {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.btn--settings,
.btn--search {
  display: none;
}

.scroll-side-bar__fade-left {
  position: absolute;
  transform: rotate(180deg);
  top: 184.5px;
}

.scroll-side-bar__fade-right {
  position: absolute;
  top: 183px;
  left: 300px;
}

.side-bar-nav {
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 770px;
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
}

.side-bar-links:first-child {
  border: 2px #B8FFEC solid;
}

.side-bar-links {
  text-decoration: none;
  padding: 6px 13px;
  border-radius: 5px;
  color: #7E7E82;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about {
  margin: 0 auto;
}

.about__description {
  overflow: hidden;
  width: 288px;
  margin: 0 auto;
  height: 95px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.about__read-more {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 13px;
  border: none;
  font-weight: 400;
}

.description__site {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.about__read-more::before {
  content: ' ';
  width: 8px;
  height: 11px;
  background-image: url('./styles/pictures/arrow.svg');
  background-repeat: no-repeat;
  display: block;
}

.photo-cps {
  width: 320px;
  height: 176px;
}

.main__img {
  margin-top: 15px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  body, html {
    width: 768px;
  }

  .head--hidden {
    display: flex;
  }

  .border-line--hidden {
    display: none;
  }

  .head__left-side {
    margin-left: 30px;
  }

  .head__right-side {
    margin-right: 30px;
  }

  .scroll-side-bar__fade-right {
    position: absolute;
    top: 183px;
    left: 750px;
  }

  .about__description {
    width: 312px;
    height: 139px;
  }

  .about {
    width: 312px;
    margin-left: 20px;
    margin-right: 40px;
  }

  .photo-cps {
    width: 360px;
    height: 208px;
    border-radius: 8px;
  }

  .about__read-more {
    margin-top: 5px;
  }

  .description__site {
    width: 720px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1120px) {
    body, html {
      width: 1096px;
    }

    .head {
      display: none;
    }

    .btn--settings,
    .btn--search {
      display: flex;
    }

    .title {
      width: 1096px;
      display: flex;
      justify-content: space-between;
    }
  
    .title__buttons {
      display: flex;
      gap: 30px;
    }
  
    .btn__text {
      font-weight: 600;
    }
  
    .btn--settings,
    .btn--search {
      gap: 10px;
      display: flex;
      align-items: center;
    }

    .side-bar-nav {
      max-width: 1120px;
      flex-wrap: wrap;
      overflow: hidden
    }

    .about__description {
      height: 160px;
      width: 490px;
    }

    .photo-cps {
      width: 532px;
      height: 307px;
      border-radius: 8px;
    }

    .scroll-side-bar__fade-left,
    .scroll-side-bar__fade-right {
      display: none;
    }

    .description__site {
      width: 1096px;
      justify-content: space-between;
    }
  }
}