@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakesCondensed-Light"),
    url("styles/fonts/TTLakesCondensed-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakes-Bold"),
    url("styles/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "TTLakes";
  src: local("TTLakesCondensed"),
    local("TTLakes-Medium"),
    url("styles/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 600;
}

body, html {
  width: 320px;
  font-family: "TTLakes", Arial, sans-serif;
  color: #1B1C21;
  font-weight: normal;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.head__btn {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: none;
  background-color: #f8f8f8;
}

.head__menu {
  background-image: url('./styles/pictures/menu-ic.svg');
}

.head__call {
  background-image: url('./styles/pictures/call-ic.svg');
}

.head__chat {
  background-image: url('./styles/pictures/chat-ic.svg');
}

.head__profile {
  background-image: url('./styles/pictures/profile-ic.svg');
}

.head__settings {
  background-image: url('./styles/pictures/settings.svg');
}

.head__search {
  background-image: url('./styles/pictures/search.svg');
}

.head {
  display: flex;
  height: 88px;
}

.head__left-side,
.head__right-side {
  align-items: center;
  display: flex;
  gap: 18px;
  margin: 0 auto;
}

.head--hidden {
  display: none;
}

 .head__border-line {
  align-self: center;
  height: 32px;
  width: 2px;
}

.title__service {
  display: flex;
  gap: 15px;
  align-items: center;
}

.title__text-service {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.btn--settings,
.btn--search {
  display: none;
}

.scroll-side-bar__fade-left {
  position: absolute;
  transform: rotate(180deg);
  top: 184px;
}

.scroll-side-bar__fade-right {
  position: absolute;
  top: 183px;
  left: 300px;
}

.side-bar-nav {
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 770px;
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
}

.side-bar-links:first-child {
  border: 2px #B8FFEC solid;
}

.side-bar-links {
  text-decoration: none;
  padding: 6px 13px;
  border-radius: 5px;
  color: #7E7E82;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about {
  margin: 0 auto;
  width: 280px;
}

.about__description {
  overflow: hidden;
  height: 95px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 7px;
}

.about__read-more {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 13px;
  border: none;
  font-weight: 400;
}

.about__read-more::before {
  content: ' ';
  width: 8px;
  height: 11px;
  background-image: url('./styles/pictures/arrow.svg');
  background-repeat: no-repeat;
  display: block;
}

.photo-cps {
  width: 320px;
  height: auto;
}

.main__img {
  margin-top: 15px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  body, html {
    width: 768px;
  }

  .head--hidden {
    display: flex;
  }

  .border-line--hidden {
    display: none;
  }

  .head__left-side {
    margin-left: 30px;
  }

  .head__right-side {
    margin-right: 30px;
  }

  .scroll-side-bar__fade-right {
    position: absolute;
    top: 183px;
    left: 750px;
  }

  .about__description {
    height: 140px;
  }

  .about {
    margin-left: 20px;
    margin-right: 40px;
    float: left;
  }

  .photo-cps {
    width: 360px;
    border-radius: 8px;
  }

  @media (min-width: 1120px) {
    body, html {
      width: 1120px;
    }

    .head {
      display: none;
    }

    .btn--settings,
    .btn--search {
      display: flex;
    }

    .title {
      width: 1096px;
      display: flex;
      justify-content: space-between;
    }
  
    .title__buttons {
      display: flex;
      gap: 30px;
    }
  
    .btn__text {
      font-weight: 600;
    }
  
    .btn--settings,
    .btn--search {
      gap: 10px;
      display: flex;
      align-items: center;
    }

    .side-bar-nav {
      max-width: 1120px;
      flex-wrap: wrap;
      overflow:hidden
    }

    .about__description {
      height: 160px;
      width: 430px;
    }

    .photo-cps {
      width: 532px;
      height: 307px;
      border-radius: 8px;
      margin-left: 140px;
    }

    .scroll-side-bar__fade-left,
    .scroll-side-bar__fade-right {
      display: none;
    }
  }
}

/*
.about {
  align-self: center;
  width: 280px;
}

.about__description {
  overflow: hidden;
  height: 105px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: -3px;
}

.side-bar-btn {
  white-space: nowrap;
  overflow-x: scroll;
  max-width: 320px;
  display: flex;
  margin-left: 20px;
}

.scroll-side-bar_fade2 {
  position: absolute;
  left: 25px;
  transform: rotate(180deg);
}

.scroll-side-bar_fade1 {
  position: absolute;
  left: 305px;
}

.side-bar-btn__text {
  white-space: nowrap;
}

.side-bar-btn button:first-child {
  margin-left: 15px;
}

.side-bar-btn__button1,
.side-bar-btn__button2,
.side-bar-btn__button3,
.side-bar-btn__button4,
.side-bar-btn__button5,
.side-bar-btn__button6 {
  padding: 0 15px;
  height: 40px;
  color: #7E7E82;
  border-radius: 6px;
  border: 2px #f8f8f8 solid;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}


.read-more__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.title__buttons {
  display: none;
}

.read-more {
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main__image_el-760px {
  display: none;
}

.head__left-side,
.head__right-side {
  display: flex;
  gap: 18px;
}

@media (min-width: 768px) {
  body, html {
    width: 768px;
  }

  .head--hidden {
    display: flex;
    gap: 18px;
  }

  .border-line--hidden {
    display: none;
  }

  .head {
    justify-content: space-between;
  }

  .head__left-side {
    padding-left: 25px;
  }

  .head__right-side {
    padding-right: 25px;
  }

  .side-bar-btn {
    max-width: 768px;
  }
  
  .scroll-side-bar_fade1 {
    left: 755px;
  }

  .about {
    margin-top: 40px;
    width: 720px;
    height: 208px;
  }

  .side-bar-btn {
    margin-top: 15px;
  }

  .about__description {
    height: 140px;
    width: 300px;
  }

  .main__image {
    display: none;
  }

  .main__image_el-760px {
    margin-top: -188px;
    border-radius: 5px;
    margin-left: 360px;
    padding: 0;
    display:inline-block;
    width: 360px;
    height: 208px;
  }
}

@media (min-width: 1120px) {
  body, html {
    width: 1120px;
  }

  .head {
    display: none;
  }

  .title {
    width: 1096px;
    justify-content: space-between;
  }

  .tag {
    display: flex;
    gap: 10px;
  }

  .tag__text {
    font-weight: 600;
  }

  .title__buttons {
    gap: 30px;
    display: flex;
    align-self: center;
  }

  .side-bar-btn {
    margin-top: -5px;
    max-width: 1096px;
  }

  .scroll-side-bar_fade1 {
    top: 85px;
    left: 1100px;
  }

  .scroll-side-bar_fade2 {
    top: 85px;
    left: 25px;
  }

  .main__image_el-760px {
    margin-top: -200px;
    width: 531px;
    height: auto;
  }

  .about__description {
    margin-left: -160px;
    height: 155px;
    width: 500px;
  }

  .read-more {
    margin-left: -155px;    
  }
} */ 